body{
	background-image: url('1871mainimg.png');
	background-repeat: no-repeat;
	margin-center: 20;
}

.canv1 {
  display: block;
  background 0;
  margin-left: -40;
}
.canv2 {
  display: block;
  background 0;
  margin-left: -40;
  margin-top: 100;
  
}
.canv3 {
  display: block;
  background 0;
  margin-left: -40;
}

h1 {
  font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  text-align: center;
}

div {
  font-family: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
  font-size: 120%;
  max-width: 36em;
  text-align: justify;
  margin: 0 auto;
}